/* Layout -------------------------------------------------------------------------------------------*/
body {
	background: #FDE9EB;
	font-family: 'Open Sans', sans-serif;
}

.navbar, .navbar-header{
	padding-bottom: .5;
}

.navbar, .navbar-container, .navbar-header {
	display:inline;
	color:#ffffff;
}

#weddinglogo{
	height: 45px;
	width: 70px;
	}

.jumbotron{
	position: absolute;
	top: 190px;
	height: 350px;
	width: 100%;
	left: 15%;
	background: rgba(166, 166, 166, 0.5);
	border-radius: 15px;
	box-shadow: 10px 15px 5px #E8D183;
}

/*Splash Page ------------------------------------------------------------------*/

header { 
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	background-image: url("https://s3-us-west-1.amazonaws.com/natgenandy.com/images/domebg.png");
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px ;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}



/*Sections ------------------------------------------------------------------------------------------*/

	
#ourstory{
	padding-top: 30px;
	width: 100%;
	position: relative;
}

#photos{
	padding-top: 60px;
	height: auto;
	/*width: 100%;
	height: 600px;
	position: relative; */
}

#logistics{
	padding-top: 20px;
	width: 100%;
	height: auto;
	position: relative;
}

#activities{
	padding-top: 40px;
	width: 100%;
	height: auto;
	position: relative;
}


#RSVP{
	vertical-align: center;
	height: 750px;
	width: 100%;
}

#registries{
	width: 100%;
	height: auto;
	position: relative; 
	padding-top: 90px;
	padding-left: 20px;

}


/*Modals -------------------------------------------------------------------------------------------- */

#myModal .modal-content {
	width: 100%;
}


#myModal .modal-body {
    position: relative;
    overflow-y: auto;
    height: 70%;
    width: 100%;
    padding-left: 75px;
}

#myModal .modal-footer {
	width: 100%;
}

@media screen and (min-width: 768px) {
	
	#myModal .modal-dialog  {width:900px;}
}


/* TIMELINE EXAMPLE----------------------------------------------------------------------------------*/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #7f8c8d;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 767px) {
	ul.timeline:before {
		left:40px;
}
	ul.timeline > li > .timeline-panel {
		width: calc(100% - 90px);
		width: -moz-calc(100% - 90px);
		width: -webkit-calc(100% - 90px);
}
	ul.timeline > li > .timeline-badge {
		left: 15px;
		margin-left: 0;
		top: 16px;
}
	ul.timeline > li > .timeline-panel {
		float: right;
}

	ul.timeline > li > .timeline-panel:before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
}

	ul.timeline > li > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}
}

#themeeting {
	width: 80px;
	height: 80px;
	position: relative;
	right: 18px;
	bottom: 14px;
}

#firstdateicon {
	width: 80px;
	height: 80px;
	position: relative;
	right: 18px;
	bottom: 14px;
}

#makeitofficial {
	width: 80px;
	height: 80px;
	position: relative;
	right: 18px;
	bottom: 14px;
}

#saidloveicon {
	width: 80px;
	height: 80px;
	position: relative;
	right: 18px;
	bottom: 14px;
}

#menlomoving {
	width: 100px;
	height: 100px;
	position: relative;
	right: 27px;
	bottom: 22px;
}

#nekoicon {
width: 80px;
	height: 80px;
	position: relative;
	right: 18px;
	bottom: 18px;
}

#engagedicon {
	width: 80px;
	height: 80px;
	position: relative;
	right: 18px;
	bottom: 14px;
}

#weddingicon {
	width: 80px;
	height: 80px;
	position: relative;
	right: 18px;
	bottom: 14px;
}

/*Blueimp Gallery ---------------------------------------------------------------------------------- */
.blueimp-gallery .modal-body {
	position: relative;
	text-align: center;
	padding: 0 0 56.25% 0;
	overflow: hidden;
	cursor: pointer;
}
.blueimp-gallery .modal-footer {
	margin: 0;
}
.blueimp-gallery .modal-body img,
.blueimp-gallery .modal-body .video-content video,
.blueimp-gallery .modal-body .video-content iframe,
.blueimp-gallery .modal-body .video-content a {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.blueimp-gallery .modal-body .video-content video {
 	display: none;
}
.blueimp-gallery .modal-body .video-playing video {
	display: block;
}
.blueimp-gallery .modal-body .video-content iframe {
	width: 100%;
	height: 100%;
	border: none;
	left: 100%;
}
.blueimp-gallery .modal-body .video-playing iframe {
	left: 0;
}
.blueimp-gallery .modal-body .video-playing img,
.blueimp-gallery .modal-body .video-playing a {
 	display: none;
}
.blueimp-gallery .modal-body .video-content a {
	cursor: pointer;
}
.blueimp-gallery .modal-body .video-content a:after {
	font-family: "Glyphicons Halflings";
	-webkit-font-smoothing: antialiased;
	content: "\e029";
	font-size: 64px;
	line-height: 64px;
	width: 64px;
	height: 64px;
	position: absolute;
	top: 50%;
	margin: -32px 0 0 -32px;
}
.blueimp-gallery .modal-body .video-loading a {
	background: url(../img/loading.gif) center no-repeat;
	background-size: 64px 64px;
}
.blueimp-gallery .modal-body .video-loading a:after {
	content: none;
}

/*Weekend Activities-----------------------------------------------------------*/
#amenities


#friday


#saturday


#sunday

/*Images --------------------------------------------------------------------------------------------*/

#justengaged {
	width: 100%;
}
#upload {
	
	}
	
.photos {
		position: static;
		width: 300px;
    padding: 25px;
    border-radius: 25px black;
    margin: 25px;
	}

#photos #photos {
		position: relative;
		width: 300px;
    padding: 25px;
    border-radius: 25px;
    border-color: black;
    margin: 25px;
}

 #map {
        height:100%;
        width:100%;
    }
    .gm-style-iw * {
        display: block;
        width: 100%;
    }
    .gm-style-iw h4, .gm-style-iw p {
        margin: 0;
        padding: 0;
    }
    .gm-style-iw a {
        color: #4272db;
    }

#honeyfund {
	height: auto;
	width: auto;
}

#macys {
height: auto;
width: auto;
}

/* Buttons-------------------------------------------------------------------------------------------*/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

/*Header Links*/

/*Links*/
